* {
  margin: 0;
  padding: 0;
  font-family: montserrat, sans-serif;
  color: white;
}
body {
  background-color: #1D1D1D;
}
/*HEADER*/
header {
  display: block;
  height: 130px;
}
header .index {
  font-size: 22px;
  font-family: "Kaushan Script", montserrat, sans-serif;
  float: left;
  margin-top: 3px;
  margin-left: 75px;
  text-decoration: none;
  color: white;
}
header .connexion {
  float: right;
  margin-right: 20px;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 15px;
  text-decoration: none;
  padding: 6px 18px;
  background-color: #FFBB00;
  border: 2px solid #FFBB00;
  border-radius: 50px;
}
header .inscription {
  float: right;
  margin-right: 40px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  text-decoration: none;
  padding: 6px 18px;
  border: 2px solid #FFBB00;
  border-radius: 50px;
}

/*MAIN1*/
.main1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}
.main1 img {
  width: 60%;
}
.main1 p {
  margin-top: 70px;
  width: 80%;
  text-align: center;
}
.main1_first_span, .main1_last_span {
  font-weight: bold;
}

.sep {
  display: block;
  width: 50%;
  margin: 80px 25%;
  height: 2px;
  background-color: #FFBB00;
  }

/*MAIN2*/
.main2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
.card1, .card3 {
  width: 300px;
  height: 500px;
  background-color: #FFBB00;
  border-radius: 40px;
  box-shadow: 0 0 25px 10px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.card2 {
  width: 380px;
  height: 580px;
  background-color: #FFBB00;
  border-radius: 40px;
  box-shadow: 0 0 25px 10px black;
  margin: 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.card1_btn a, .card2_btn a, .card3_btn a {
  text-decoration: none;
  padding: 18px 24px;
  font-size: 22px;
  font-weight: 700;
  background-color: #1D1D1D;
  border-radius: 70px;
}
.card1_btn {
  position: relative;
    top: 15px;
}
.card1_top_img {
  position: relative;
    bottom: 15px;
}
.card1_ul li, .card2_ul li, .card3_ul li {
  font-weight: 600;
  margin-top: 5px;
}
.card1_btn a img, .card2_btn a img, .card3_btn a img {
  vertical-align: middle;
  width: 46px;
  position: relative;
    bottom: 2px;
    left: 16px;
  transition: transform .5s;
}
.card2_btn a {
  font-size: 26px;
  padding: 20px 26px;
}
.card2_btn a img {
  width: 55px;
}
.card1_btn a:hover img, .card2_btn a:hover img, .card3_btn a:hover img {
  transform: rotate(240deg);
}
/*MAIN3*/
.main3 {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}
.main3 a {
  background-color: #FFBB00;
  padding: 12px 30px;
  text-decoration: none;
  font-weight: 650;
  border-radius: 40px;
  font-size: 24px;
  margin-top: 20px;
}
.main3 a img {
  width: 25px;
  vertical-align: middle;
  position: relative;
    left: 8px;
  transition: left .5s;
}
.main3 a:hover img {
  left: 18px;
}
