
* {
  margin: 0;
  padding: 0;
  font-family: montserrat, sans-serif;
  color: white;
}
body {
  background-color: #1D1D1D;
}
/*INDEX*/
/*HEADER*/
header {
  display: block;
  height: 80px;
}
header .connexion {
  float: right;
  margin-right: 20px;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 15px;
  text-decoration: none;
  padding: 6px 18px;
  background-color: #FFBB00;
  border: 2px solid #FFBB00;
  border-radius: 50px;
}
header .inscription {
  float: right;
  margin-right: 40px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  text-decoration: none;
  padding: 6px 18px;
  border: 2px solid #FFBB00;
  border-radius: 50px;
}
/*MAIN1*/
.main1 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 10vh;
}
.main1_left_part {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}
.main1_left_part a {
  width: 200px;
}
.main1_left_part h1 {
  font-family: "Kaushan Script", sans-serif;
  font-size: 150px;
  font-weight: 400;
  margin: -40px 0 -15px -20px;
}
.main1_left_part p {
  font-size: 20px;
}
.main1_left_part a img {
  width: 220px;
  margin-top: 25px;
}
.main1_logo {
  width: 450px;
}
