* {
  margin: 0;
  padding: 0;
  font-family: montserrat, sans-serif;
}
body {
  background-color: #1D1D1D;
}
/*HEADER*/
header {
  display: block;
  height: 60px;
}
header a {
  font-size: 22px;
  font-family: "Kaushan Script";
  float: left;
  margin-top: 20px;
  margin-left: 20px;
  text-decoration: none;
  color: white;
}

/*MAIN*/
.main {
  height: 90vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
.main img {
  width: 450px;
}
/*FORMULAIRE*/
form {
  width: 630px;
}
form .prenom, form .mail {
  margin-left: 5%;
}
form .nom, form .prenom, form .username, form .mail, form .password {
  display: inline;
  width: 45%;
  padding: 10px 0;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 14px;
  color: white;
  background: transparent;
  border: none;
  border-bottom: 3px solid #FFBB00;
  outline: none;
}
.form_inputs {
  display: flex;
  flex-flow: row wrap;
}
.conditions_générales {
  margin-top: 15px;
  font-size: 14px;
}
.conditions_générales a {
  color: #FFBB00;
}
.conditions_générales p {
  cursor: pointer;
  color: white;
}
.conditions_générales label {
  position: relative;
  top: -17px;
  left: 22px;
}
.conditions_générales input {
  display: none;
}
.conditions_générales .span {
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
  width: 15px;
  height: 15px;
  background-image: url("../img/not_checked.png");
  transition: .1s;
}
.conditions_générales input:checked + .span {
  background-image: url("../img/checked.png");
}
.inscription {
  margin-top: 20px;
  padding: 10px 30px;
  background-color: #FFBB00;
  border: none;
  border-radius: 50px;
  color: white;
  font-size: 20px;
  font-weight: 700;
  margin-left: 230px;
  cursor: pointer;
}
/*RESPONSIVE*/
@media (max-width: 1100px) {
  .main img {
    display: none;
  }
}
